.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/compiler.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/sqlDataSources.xml
.idea/**/sqldialects.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries/
.idea/**/mongoSettings.xml
.idea/**/sonarlint/
.idea/**/httpRequests/
.idea/**/caches/build_file_checksums.ser
.idea/replstate.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### Java / JVM ###
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*

### Local server runtime ###
/server/
/servers/

### Packaged archives ###
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
!gradle/wrapper/gradle-wrapper.jar

### Other tooling ###
cmake-build-*/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
